@mixin link() {
    :global(a) {
        color: $link-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $link-color-focus;
            text-decoration: underline;
        }
    }
}
